
<%layout("layouts/boilerplate")%>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Train+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/aboutStyle.css">
<section class="container">
<div class="first" style="display: flex; flex-direction: row-reverse;">
    <p class="intro" style="padding: 20px; font-weight: bolder; font-size: x-large;">We are dedicated towards making your decision perfect.</p>
    <img src="https://res.cloudinary.com/donu29xwi/image/upload/v1618155073/mobiles/tech_neoncircuitboard_857021704_medium_lc5h05_pqnfsh.jpg" class="teamImage" alt="" width="50%">
</div>
<div class="first" style="margin-top: 100px;">
    
        <p class="intro" style="padding: 20px; font-weight: bolder; font-size: x-large;">We Are a Team of IT proffesionals studying </p>
    
    <img src="https://res.cloudinary.com/donu29xwi/image/upload/v1618154219/mobiles/team_d2n3c2.jpg" class="teamImage" style="text-align: center;" width="50%">
  
</div>


<div>
    <span class="message" style="font-family: cursive; font-weight: bolder;">MEET THE DEVELOPERS AND WRITERS</span>
    <div class="container">
      <div class="card-group">
        <div class="card " style="width: 18rem;">
          <img src="https://static.theceomagazine.net/wp-content/uploads/2018/10/15093202/elon-musk.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card " style="width: 18rem;">
          <img src="https://static.theceomagazine.net/wp-content/uploads/2018/10/15093202/elon-musk.jpg" class="card-img-top" alt="..." width="100%">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card " style="width: 18rem;">
          <img src="https://static.theceomagazine.net/wp-content/uploads/2018/10/15093202/elon-musk.jpg" class="card-img-top" alt="..." width="100%">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    
      </div>
      <div class="row">
        
       
        <div class="card" style="width: 18rem;">
          <img src="https://static.theceomagazine.net/wp-content/uploads/2018/10/15093202/elon-musk.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://static.theceomagazine.net/wp-content/uploads/2018/10/15093202/elon-musk.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>    
    
      </div>

    </section>








    </div>
</div>
