<% layout("layouts/boilerplate")%>
  <link rel="stylesheet" href="/css/contentPageStyles.css">

<section class="outer">

      <section class="inner">
          <div class="image-div">
            <img src="<%=mobile.image%>" alt="" class="mobile-image">
          </div>
          <div class="content-div">
              
            <div class="inner-content">
              <div class="mobile-name">
                <span class="name">
                    <%=mobile.name%>
                </span>
                
              </div>
              <div class="content">
                  <div class="feature">
                    <span>
                      Brief About Feature
                    </span>
                     <div class="table">
                       <ul type="none" class="each-feature">
                         <li>lorem</li>
                         <li>lorem</li>
                         <li>lorem</li>
                         <li>lorem</li>
                       </ul>
                       <ul type="none" class="each-feature">
                         <li>lorem</li>
                         <li>lorem</li>
                         <li>lorem</li>
                         <li>lorem</li>
                       </ul>
                       <ul type="none" class="each-feature">
                         <li>lorem</li>
                         <li>lorem</li>
                         <li>lorem</li>
                         <li>lorem</li>
                       </ul>
                     </div>

                  </div>
              </div>
            </div>
          </div>


      </section>






































</section>

  


  
     