<div>
    <form action="/younhi" method="post">

          <input type="text" name="pixels.pixel">
          <input type="text" name="pixels[1]">
          <button>submit</button>

    </form>




</div>