<%layout("/layouts/boilerplate")%>

<link rel="stylesheet" href="/css/newCredentials.css">


<section class="whole">

  <form action="/auth/reset-password-new-credentials/<%=id%>/<%=token%>" method="POST" class="credentials-form">
    <label for="password">New password</label>
    <input type="password" id="password" name="password">
    <button>Update</button>


</form>

</section>


