<%layout("layouts/boilerplate")%>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="/css/rangeStyles.css">

  <h3 style="text-align: center;">"Mobiles In Your Budget"</h1>

    <section class=" container wholesection">


      <div class="filtervalues">
        <div class="ram">
          <span class="title">
            RAM
          </span>
          <ul>
          <li><label for="3">3 GB and above</label>
          <input type="checkbox" id="3"></li>
          <li><label for="4">4 GB and above</label>
          <input type="checkbox" id="4" name="4andabove"></li>
      
          <li><label for="6">6 GB and above</label>
          <input type="checkbox" id="6"></li>
          <li><label for="8">8 GB and above</label>
          <input type="checkbox" id="8"></li>
      </ul>
      
        </div>
      
        <div class="brand">
          <span class="title">
            Brand
          </span>
          <ul>
          <li><label for="redmi">Redmi</label>
          <input type="checkbox" id="redmi"></li>
          <li><label for="Realme">Realme</label>
          <input type="checkbox" id="Realme"></li>
      
          <li><label for="One Plus">One Plus</label>
          <input type="checkbox" id="One Plus"></li>
          <li><label for="Apple">Apple</label>
          <input type="checkbox" id="Apple"></li>
      </ul>
      
        </div> 
         <div>
          <span class="title">
             Display
          </span>
          <ul>
            <li>  <div>
            <span class="title">
              refresh rate
            </span>
            <ul>
            <li><label for="redmi">120Hz</label>
          <input type="checkbox" id="redmi"></li>
          <li><label for="90Hz">90Hz</label>
          <input type="checkbox" id="90Hz"></li>
      </ul>
          
          </div></li>
          <li><div>
            <span>
              Size
            </span>
            <ul>
            <li><label for="redmi">Redmi</label>
            <input type="checkbox" id="redmi"></li>
            
            <li><label for="Realme">Realme</label>
            <input type="checkbox" id="Realme"></li>
        
            <li><label for="One Plus">One Plus</label>
            <input type="checkbox" id="One Plus"></li>
            <li><label for="Apple">Apple</label>
            <input type="checkbox" id="Apple"></li>

          </ul>
          </div></li>
      
        </ul>
        </div>


      </div>
      <div class="filteredresult">
      
        <div class="particular">
          <img
            src="https://cdn.pocket-lint.com/r/s/1200x/assets/images/152419-review-hands-on-redmi-note-9-image1-rr6mm2jbpp.jpg"
            alt="" width="30%" height="100%" style="border-radius: 20px;">
          <div class="detail">
      
            <span style="width: 100%; height: 10%  ;">
              Mobile Name
            </span>
            <span style="height: 10%; width: 100%;">
              Main features
            </span>
            <ul class="topfeatures" type="none">
      
              <li class="individualfea">display</li>
              <li class="individualfea">battery</li>
              <li class="individualfea">performance</li>
              <li class="individualfea">camera</li>
            </ul>
      
            <div class="viewsection">
              <a href="" class="gotomobilephone">VIEW</a>
              <span class="mobilePricebutton">
                &#8377; Mobile Price
              </span>
            </div>
      
          </div>
    
         </div>
      </div>

     

    





    </section>


    <script>
           let inputs=[];



           let allinputs=document.querySelectorAll(".filtervalues input");

           for(input of allinputs){
             input.addEventListener("input",()=>{
                 sendData();
                //  inputs.push(input.checked);
             })

             


           }
           console.log(inputs);

           let sendData=async()=>{
            inputs.splice(0,inputs.length);
            let rams=document.querySelectorAll(".ram input");
            let raminputs=[];
            for(ram of rams){
              raminputs.push(ram.id);
            }
           

            for(input of allinputs){
            
                 inputs.push(input);
             }
            let res=await axios.post("http://localhost:3000/axiosMobiles",{
                array:`${inputs}`
             }).then((res)=>{
               console.log(res.data);
               console.log(document.querySelector(".filtervalues input").checked);
             })
           }



    </script>