.news {
  height: 250px;
  width: 20%;
  border: 1px solid lightgrey;
  margin: 10px 0px 0px 10px;
}
.biggestOuter {
  display: flex;
  justify-content: space-around;
}
.outerSection {
  margin: 0;
  width: 70%;
  align-self: center;
  transform: translateX(20%);
}
#leftresponsive {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: center;
}
.Area {
  display: flex;
  /* padding: 0 10% 0 10%; */
  /* border: 2px solid violet; */
  box-sizing: border-box;
  /* margin-left: 5%; */
  width: 100%;
  /* height: 100vh; */
}
.mainArea {
  /* margin-left: 10%; */
  /* margin: 0 10% 0 10%; */
  display: flex;
  flex-direction: column;
  /* margin-left: 5%; */
  width: 100%;
  /* transform: translateY(-64px); */
  /* height: 100vh; */
}
.customFormInputs {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(240, 239, 235);
}

section.range-slider {
  position: relative;
  width: 300px;
  /* height: 300px; */
  float: left;
  text-align: center;
}

section.range-slider input[type="range"] {
  pointer-events: none;
  position: absolute;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 14px;
  background: white;
  box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
  -webkit-box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
  overflow: hidden;
  left: 0;
  /* top: 50px; */
  width: 100%;
  outline: none;
  height: 20px;
  margin: 0;
  padding: 0;
}

section.range-slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 14px;
  /* android <= 2.2 */
  /* older mobile safari and android > 2.2 */
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(black, #dad8da),
    to(#413f41)
  );
  background-image: linear-gradient(to bottom, black 0, #f0efeb 100%);
  /* W3C */
}

section.range-slider input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 14px;
  background-image: linear-gradient(to bottom, #dad8da 0, #413f41 100%);
  /* W3C */
}

section.range-slider input[type="range"]::-ms-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -ms-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 14px;
  border: 0;
  background-image: linear-gradient(to bottom, #dad8da 0, #413f41 100%);
  /* W3C */
}

section.range-slider input[type="range"]::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: black;
  border: 0;
}

section.range-slider input[type="range"]:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}

section.range-slider input[type="range"]::-moz-focus-outer {
  border: 0;
}
/*# sourceMappingURL=main.css.map */

.message {
  width: 100%;
  background-color: #0a1128;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
  color: whitesmoke;
}
.btLinks {
  display: flex;
  justify-content: space-between;

  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px;
  /* padding: 8px; */
  /* height: 10%; */
}
.moblink {
  width: 50%;
  text-align: center;
  color: black;
  padding: 8px;
}
.first {
  border-bottom-left-radius: 20px;
  background-color: #90e0ef;
  font-weight: 500;
  border-right: 1px solid black;
}
.first:hover {
  background-color: #ffba08;
  text-decoration: none;
  color: black;
}
.second {
  border-bottom-right-radius: 20px;
  text-decoration: none;
  width: 50%;
  text-align: center;
  padding: 8px;
  color: black;
  background-color: #90e0ef;
  font-weight: 500;
}
.second:hover {
  background-color: #ffba08;
  text-decoration: none;
  color: black;
}

.budget {
  width: 40%;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 0px 0px 2px black;
  height: 400px;
}
.card {
  box-shadow: 0px 0px 10px lightgrey;
  border-radius: 20px !important;
  margin-right: 5px;
}
.phoneFind {
  display: flex;
  min-width: 75%;
  font-size: larger;
  font-weight: bolder;
}
.form {
  font-size: small;
  font-weight: bolder;
  padding: 5px;
}

.form label:nth-of-type(2) {
  margin-left: 5px;
}

.form input {
  /* width: 25%; */
  /* height: 30px; */
  margin-left: 5px;
  border-radius: 10px;
  border: 1px solid grey;
  outline-style: none;
  padding: 5px;
  box-shadow: 0px 0px 5px grey;
  min-width: 20px;
  /* flex-grow: 1; */
}
.form label:nth-of-type(2) {
  margin-left: 30px;
}
.form button {
  width: 100%;
  /* padding: 5px; */
  margin-top: 20px;
  /* margin: 2px; */
  border: none;
  background-color: #212529;
  border-radius: 10px;
  transition: 1s;
  padding: 5px;
  box-shadow: 0px 0px 5px;
  font-weight: bold;
  color: #f8f9fa;
}
.form button:hover {
  background-color: #495057;
  transition: 1s;
}
.carousel {
  width: 100%;
  position: relative;
  height: 90vh;
}
.slides {
  display: none;
  /* background-color: black; */
  transition: all 1s;
}

.slide-image {
  height: 90vh;
  opacity: 1;
}
.phoneFind {
  display: block;
  width: 50px;
  position: relative;
  top: 0;
}
.prev,
.next {
  position: absolute;
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev:hover,
.next:hover {
  color: black;
  background-color: white;
}
.show {
  display: block;
}
.next {
  right: 0;
}

@keyframes changeopacity {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .carousel {
    width: 100%;
    /* height: 50vh; */
  }
  .message {
    height: 40%;
  }

  .news {
    width: 48%;
    /* margin-left: 10px; */
  }
  #leftresponsive {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    /* margin: 50px; */
  }
  .stories {
    display: none;
  }
  .biggestOuter {
    flex-wrap: wrap;
  }
  .mainArea {
    width: 100%;
  }
  .starting-message {
    width: 100%;
  }
  .outerSection {
    width: 100%;
    transform: translateX(0);
  }
}

@media screen and (max-width: 700px) {
  .Area {
    flex-wrap: wrap-reverse;
  }
  .custom-text {
    display: none;
  }

  .mainArea {
    width: 100%;
  }
  .stories {
    display: none;
  }
  .biggestOuter {
    flex-wrap: wrap;
  }
  .carousel {
    margin-bottom: 50px;
  }
  .outerSection {
    width: 100%;
    transform: translateX(0);
  }
}

@media screen and (max-width: 480px) {
  .news {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .mainArea {
    transform: translateY(-48px);
  }
  .card {
    margin: 0;
  }
}
