.main {
  margin-top: 100px;
  width: 100vw;
  height: 90vh;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  justify-content: center;
}
body {
  overflow-x: hidden;
}
.name {
  color: whitesmoke;
}
.message {
  /* position: ab   solute; */
  width: 50%;
  color: black;
  height: 50%;
  transform: translateY(-300%);
  background-color: whitesmoke;
  color: black;
  font-weight: 700;
  /* margin-left: 20%; */
  /* padding: 20px; */
  padding-left: 50px;
  justify-self: center;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px lightgray;
  opacity: 0;
  align-self: center;
  overflow: hidden;
  margin-top: 100%;
}

.inner1 {
  width: 50%;
  background-color: black;
  height: 100%;
}
.inner2 {
  width: 50%;
  height: 100%;
  background-color: black;
}
.mainF {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #343a40;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.mainF:nth-of-type(3) {
  margin: 0;
}

.actualC {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  /* margin-top: 30px; */
  flex-wrap: wrap;
  background: hsl(216, 28%, 93%);
  /* margin-top: 10px; */
}
.actual {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  /* margin-top: 30px; */
  flex-wrap: wrap;
  background: hsl(216, 28%, 93%);
  /* margin-top: 10px; */
  /* margin-left: 10%; */
}
.card {
  width: 25%;
  height: 700px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 20px;
  /* justify-content: space-between; */
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 5px lightgray;
}
.card:hover {
  transform: perspective(800px) translateZ(15px) translateX(-10px);
  box-shadow: 0px 0px 10px lightgray;
  transition: 0.3s;
  cursor: pointer;
}
.card img {
  height: 35%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.ratings {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: auto;
}
.ratingN {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* font-size: large; */

  font-weight: 500;
  margin-bottom: 20px;
}

.secondSlide {
  width: 100%;
  /* position: relative; */
  /* width: 100%; */
  height: 100%;
  color: black;
  padding: 20px;
  background-color: lightskyblue;
  border-radius: 20px;
  font-size: large;
  font-weight: 500;
  align-self: center;

  display: none;

  justify-content: center;
  align-items: center;

  opacity: 0;
  margin-top: 200%;
}
.view {
  text-decoration: none;
  background-color: #1e90ff;
  color: whitesmoke;
  margin-bottom: 10px;
  width: 80%;
  align-self: center;
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  margin-top: 30px;
}
.view:hover {
  background-color: #0096c7;
  color: white;
  transition: 0.3s;
}
.message:hover .mainmessage {
  display: none;
}
.message:hover .secondSlide {
  opacity: 1;
  display: flex;
}
.mainmessage {
  width: 100%;
}

.message:hover {
  padding: 0;
}

.outerclass {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.oneclass {
  padding: 5px;
  width: 32%;
  text-align: center;
}

.list {
  font-size: small;
  padding: 0;
  margin-top: 10px;
  border-right: 0.5px solid lightgray;
  width: 100%;
  height: 70%;
}

.element {
  padding: 5px;
}
@media screen and (max-width: 1180px) {
  .mainN {
    font-size: small;
  }
}

@media screen and (max-width: 1100px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .message {
    height: 65%;
    width: 65%;
  }
  .mainmessage {
    font-size: medium;
  }
  .secondSlide {
    font-size: small;
  }
  .card {
    width: 90%;
  }
  .mainN {
    font-size: smaller;
  }
  .actual {
  }
}
