h1 {
  margin-left: 10px;
  display: inline-block;
  font-size: 1.8rem;
  margin-top: 13px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.hoverable-section:hover {
  border-color: orange;
  box-shadow: 0 0 20px 0px grey;
}
#logo {
  /* margin-top: 12px; */
  margin-bottom: 12px;
}
.no-padding-margin {
  margin: 0;
  padding: 0;
}

/* Navbar */
.search2 {
  display: none;
  background-color: black;
  /* padding: 10px; */
  /* display: flex; */
}

.navbar-logo {
  margin: 3px 3px 3px 30px;
}

.navbar-main {
  background: #cccccc;
  margin: 0;
  /* position: relative; */

  font-family: "alegreya", sans-serif;
}

.navbar {
  padding: 0px 20px 0 20px;
}
.search-navbar {
  background-color: white;
  border-radius: 15px;
}

.search {
  /* transform: translatex(-50%); */
  min-width: 400px;
  margin-left: 10%;
}
.sitenav {
  /* margin-left: 30%; */
  /* width: 40%; */
  display: flex;
  justify-content: space-around;
  min-width: 40%;
  margin-left: 20%;
}
.search-btn {
  border-radius: 15px;
  color: black;
}

.anchorlinks {
  text-decoration: none;
  padding: 5px;
  width: 50%;
  margin-right: 4px;
  color: black;
}
.anchorlinks:hover {
  color: darkblue;
  text-shadow: 2px 0px 20px darkgreen;
}

.search-input {
  outline: none;
  border-radius: 15px;
  margin: 0 8px 0 12px;
  border-width: 0;
  vertical-align: -2px;
}

.search-input::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
  /* .search {
    position: absolute;
    left: 60%;
  } */
  .sitenav {
    margin: 0;
  }
  #companyname {
    /* margin-top: 0; */
    margin: 0;
    margin-left: 5px;
  }
  #logo {
    margin-top: 0;
  }
  .navbar-main {
    padding: 5px;
  }
}

@media screen and (max-width: 800px) {
  .second-nav {
    display: none;
  }
  #initialbox {
    display: none !important;
  }
  .search2 {
    display: flex;
    justify-content: space-between;
    /* margin-right: 10px; */
  }
  .ressearch {
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .search2 {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 313px) {
  .search-input {
    width: 70%;
  }
  .search-btn {
    padding: 0;
    margin-left: 5px;
  }
  .search-navbar {
    padding: 10px;
  }
}
