.arrow {
  width: 10px;
  height: 10px;
  background-color: gray;
  transform: rotate(45deg);
  margin-left: 47%;
  padding: 10px;
  z-index: -2;
}

.coustom-nav-link {
  background-color: black;
  /* border-bottom: 1px double yellow; */
}
.dropdown-content1 {
  visibility: hidden;
  display: none;
  position: relative;
  left: 100%;
  background-color: gray;
  width: 100%;
  border-radius: 10px;
}
.dropdown1:hover .dropdown-content1 {
  visibility: visible;
  position: absolute;
  display: block;
}
.dropdown-content1:nth-of-type(2) {
  /* bottom: 1%; */
  transform: translateY(-20px);
}
.dropbtn {
  font-size: 16px;
  border: none;
  color: white;
  padding: 10px;
  margin: 0;
  /* width: 160px; */
  width: 100%;
  font-weight: 500;
  /* box-shadow: 0px 0px 50px white; */
}
.dropbtn:nth-child(4) {
  border: none;
}
.dropbtn a {
  color: white;
}
.dropdown {
  position: relative;
  display: inline-block;
  width: 25%;
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
  /* width: 100%; */
}
.dropdown-content {
  /* display: none; */
  z-index: auto;
  position: absolute;
  background-color: gray;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity ease 1s;
  transform: translatex(-50%);
  margin-left: 50%;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  cursor: pointer;
  visibility: visible;
}
.dropdown:hover .dropbtn {
  color: white;
  cursor: pointer;
}

.dropbtn a:hover {
  /* border: 1px solid black; */
  /* background-color: black; */
  /* color: white; */
  /* border-radius: 15px; */
}

.firs {
  margin-top: 5px;
}
.layout {
  display: flex;
  margin-top: 20px;
}
