.first {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.intro {
  align-self: center;
}

.teamImage {
  height: 25rem;
}

.message {
  display: block;
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width: 500px) {
  .first {
    flex-wrap: wrap;
    justify-content: center;
  }
  .teamImage {
    width: 400px;
    margin-left: 0;
  }
}
