.push div {
  display: none;
  transition: display 2s;
}
.push span {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  cursor: pointer;
}

.showpush {
  display: block;
}
.push span span {
  font-size: 15px;
}
